@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none; /* Блокирует "подпрыгивание" при скролле */
  overflow: hidden; /* Запрещает прокрутку */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  touch-action: none; /* Отключает жесты вроде pinch-zoom */
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  font-family: "EB Garamond";
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 8.5dvw;
  position: absolute;
  z-index: 10;
}

@keyframes moveRigt {
  0% {
    left: 0dvw;
  }
  100% {
    left: 50dvw;
  }
}

.animateMoveRight {
  animation: moveRigt;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  left: 50dvw;
}

@keyframes moveLeft {
  0% {
    right: 0dvw;
  }
  100% {
    right: 50dvw;
  }
}

.animateMoveLeft {
  animation: moveLeft;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  right: 50dvw;
}

@keyframes moveRigtBack {
  0% {
    left: 50dvw;
  }
  100% {
    left: 0dvw;
  }
}

.animateMoveRightBack {
  animation: moveRigtBack;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  left: 0dvw;
}

@keyframes moveLeftBack {
  0% {
    right: 50dvw;
  }
  100% {
    right: 0dvw;
  }
}

.animateMoveLeftBack {
  animation: moveLeftBack;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  right: 0dvw;
}

@keyframes drop {
  0% {
    top: -100dvh;
  }
  60% {
    top: 0;
  }
  65% {
    top: -1dvh;
  }
  75% {
    top: 1dvh;
  }
  90% {
    top: 0;
  }
}

.animateDrop {
  animation: drop;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes up {
  0% {
    top: 0;
  }
  60% {
    top: 0;
  }
  65% {
    top: -1dvh;
  }
  75% {
    top: 1dvh;
  }
  100% {
    top: -100dvh;
  }
}

.animateUp {
  animation: up;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  top: -100dvh;
}

@keyframes upBridge {
  0% {
    bottom: -50dvh;
  }
  100% {
    bottom: -5dvh;
  }
}

.animateBridgeUp {
  animation: upBridge;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  bottom: -5dvh;
}

@keyframes upCup {
  0% {
    left: 6dvw;
    top: -6dvw;
  }
  100% {
    left: 30dvw;
    top: -15dvw;
  }
}

.animateCupUp {
  animation: upCup;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  left: 30dvw;
  top: -15dvw;
  animation-delay: 3500ms;
  animation-fill-mode: backwards;
}

@keyframes upRow {
  0% {
    left: 7dvw;
    top: 26dvw;
  }
  100% {
    top: 13dvw;
    left: 42dvw;
  }
}

.animateRowUp {
  animation: upRow;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  top: 13dvw;
  left: 42dvw;
  transform: rotateZ(36deg);
  animation-delay: 3500ms;
  animation-fill-mode: backwards;
}

@keyframes moveRow {
  0% {
    z-index: -1;
    top: 13dvw;
    left: 44dvw;
    transform: rotateZ(36deg);
  }
  49% {
    top: 213dvw;
    left: 242dvw;
    transform: rotateZ(36deg);
  }
  50% {
    top: 110dvh;
    left: 242dvw;
  }
  51% {
    top: 110dvh;
    left: -242dvw;
  }
  52% {
    top: 73dvw;
    left: -35dvw;
    transform: rotateZ(0deg);
  }
  60% {
    top: 71dvw;
    left: 34dvw;
    transform: rotateZ(0deg);
    z-index: -1;
  }
}

.animateRowMove {
  animation: moveRow;
  animation-duration: 4s;
  animation-timing-function: linear;
  top: 71dvw;
  left: 34dvw;
  transform: rotateZ(0deg);
}
.animateRowMove1 {
  animation: moveRow;
  animation-duration: 4s;
  animation-timing-function: linear;
  top: 71dvw;
  left: 34dvw;
  transform: rotateZ(0deg);
  animation-delay: 50ms;
  animation-fill-mode: backwards;
}
.animateRowMove2 {
  animation: moveRow;
  animation-duration: 4s;
  animation-timing-function: linear;
  top: 71dvw;
  left: 34dvw;
  transform: rotateZ(0deg);
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}

@keyframes scaleHeart {
  0% {
    top: 25dvw;
    width: 11dvw;
    height: 11dvw;
    opacity: 1;
  }
  10% {
    opacity: 0.75;
  }
  100% {
    top: -517dvw;
    width: 1100dvw;
    height: 1100dvw;
    opacity: 0;
  }
}

.animateScaleHeart {
  animation: scaleHeart;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  /* top: -17dvw;
  width: 110dvw;
  height: 110dvw; */

  /* opacity: 0; */
  /* animation-fill-mode: backwards; */
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.animateMessage {
  background: linear-gradient(
    to top,
    transparent 0%,
    rgba(92, 52, 52, 0.8) 100%
  );
  animation: blinker 3s linear 4s infinite;
  color: rgba(141, 141, 141, 0.5);
  animation-fill-mode: backwards;
}

@keyframes blur {
  0% {
    backdrop-filter: blur(0dvw);
  }
  100% {
    backdrop-filter: blur(2dvw);
  }
}
.animateBlur {
  animation: blur;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes opasity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animateOpasity {
  animation: opasity;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes dropPopup {
  0% {
    top: -100dvh;
  }
  100% {
    top: 27;
  }
}

.animateDropPopup {
  animation: dropPopup;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
